.app-shell-head, .app-shell-head-logo, .app-shell-head-account,
.app-shell-head-search, .app-shell-main, .app-shell-main-nav,
.app-shell-main-content, .app-shell-footer,
.app-shell-modal {
  position : absolute;
}
.app-shell-head {
  top    : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}
.app-shell-head-logo {
  top        : 4px;
  left       : 4px;
  height     : 32px;
  width      : 128px;
  background : orange;
}
.app-shell-head-account {
  top        : 4px;
  right      : 0;
  width      : 64px;
  height     : 32px;
  background : green;
}
.app-shell-head-search {
  top        : 4px;
  right      : 64px;
  width      : 248px;
  height     : 32px;
  background : blue;
}

.app-shell-main {
  top    : 40px;
  left   : 0;
  bottom : 40px;
  right  : 0;
}
.app-shell-main-content,
.app-shell-main-nav {
  top    : 0;
  bottom : 0;
}
.app-shell-main-nav {
  width  : 250px;
  background : #eee;
}
  .app-x-closed .app-shell-main-nav {
    width  : 0;
  }

.app-shell-main-content {
  left  : 250px;
  right : 0;
  background : #ddd;
}
  .app-x-closed .app-shell-main-content {
    left : 0;
  }

.app-shell-footer {
  bottom : 0;
  left   : 0;
  right  : 0;
  height : 40px;
}

.app-shell-modal {
  margin-top    : -200px;
  margin-left   : -200px;
  top           : 50%;
  left          : 50%;
  width         : 400px;
  height        : 400px;
  background    : #fff;
  border-radius : 3px;
  z-index       : 2;
  display       : none; 
}